#ignore folders
css/
image/
js/
lib/
xampp/
dashboard/
wordpress/
upload/
Sample Pictures/



#ignore files
all.sublime-project
applications.html
bitnami.css
favicon.ico
index.php
*.log
*.sublime-workspace

